<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/blog.css" />
    <title>Blog</title>
  </head>
  <body>
    <div class="header">
      <img
        src="../images/13248351_794931000607907_2155270942238783727_o.jpeg"
        class="img-1"
      />
      <h1 class="headline">Shidul Islam's blog</h1>
      <a href="https://www.instagram.com/rahad_saidul12/"
        ><img src="../images/pngwing.com (1).png" class="insta"
      /></a>

      <a href="https://github.com/rahad123"
        ><img src="../images/pngwing.com.png" class="github"
      /></a>

      <a href="https://www.linkedin.com/in/shidul-islam-5729a3112/"
        ><img
          src="../images/vecteezy_linkedin-logo-png-linkedin-icon-transparent-png_18930587_72.png"
          class="linkdln"
      /></a>

      <a href="https://www.linkedin.com/in/shidul-islam-5729a3112/"
        ><button class="follow">Follow</button></a
      >

      <a href=""><h3 class="home">Home</h3></a>
      <a href=""><h3 class="badges">Badges</h3></a>
    </div>
    <div class="container-2">
      <img
        src="../images/13248351_794931000607907_2155270942238783727_o.jpeg"
        class="img-2"
      />
      <h1 class="name-header">Shidul Islam</h1>
      <p class="tag">A passionate Software Engineer & love to travel</p>
    </div>
    <div class="container-3">
      <h2 class="header-2">
        MongoDB Indexing, How indexing can improve the speed of your database
        queries
      </h2>
      <p>
        When we want to improve the speed and efficiency of query requests or
        read operations, there are several approaches we can consider. One
        crucial approach to consider is database indexing.
      </p>
      <p>
        MongoDB indexing is the process of creating an index on a collection of
        documents in MongoDB to improve your query performance. An index is a
        data structure that contains the values of specific fields of the
        documents in a collection, along with a reference to the location of the
        document on a disk/memory.
      </p>
      <p>
        A database index is like a book index. Instead of looking through the
        whole book, you will take a shortcut and look at an ordered list with
        references to the content. So your queries will run faster. A query that
        does not use an index is called a collection scan or COLLSCAN. The
        server will look through the entire collection to find the results. This
        is what we will do if we are looking at information in a book without an
        index. So you will start from the first page and read the entire book
        perhaps to find the requested part. you can imagine how much that will
        take you, especially as the book becomes bigger. Similarly, you want to
        make the server avoid scanning all documents because the process will be
        very slow, especially for large databases.
      </p>
      <p>Advantages of MongoDB Index:</p>
      <p>
        - Improved Performance: MongoDB indexes can significantly improve the
        performance of queries by reducing the number of documents that need to
        be searched.
      </p>
      <p>
        - Faster Read Operations: Indexes can speed up read operations like
        finding, sorting, and grouping documents.
      </p>
      <p>
        - Flexible Queries: MongoDB indexes support a wide range of queries,
        including complex queries that involve multiple fields.
      </p>
      <p>
        - Easy to Create and Manage: MongoDB indexes can be easily created and
        managed using simple commands or with the help of third-party tools.
      </p>
      <p>
        - Improved Concurrency: Indexes can improve concurrency by allowing
        multiple read operations to occur simultaneously.
      </p>
    </div>
    <div class="container-4">
      <h2 class="header-2">
        The Power of Event-Driven Architecture: Why Node.js is Efficient and
        Popular
      </h2>
      <p>
        Do you ever thought why Node.js is so much popular? Node.js is popular
        and efficient one of the reasons is its event-driven architecture. In
        traditional server-side programming models, each client request would be
        handled by a separate thread or process. This approach can quickly
        consume resources and lead to poor performance if many requests are
        processed simultaneously.
      </p>
      <p>
        In contrast, Node.js uses a single-threaded, event-driven architecture,
        where each incoming request is treated as an event and is handled by an
        event loop. The event loop is responsible for managing all the
        asynchronous I/O operations in the application, such as network requests
        and file I/O. When an event occurs, the corresponding callback function
        is executed, and the event loop moves on to the next event.
      </p>
      <p>
        This approach is efficient because it allows Node.js to handle a large
        number of requests simultaneously without the need for additional
        threads or processes. Since the event loop can switch between events
        quickly, the application can be very responsive even when handling a
        large number of requests. Additionally, the event-driven architecture
        makes it easy to write scalable and high-performance applications that
        can handle a large number of concurrent connections.
      </p>
    </div>
    <div class="container-5">
      <h2 class="header-2">Favourite Collection's</h2>
      <img
        src="../images/pexels-eberhard-grossgasteiger-1302242.jpg"
        class="image-1"
      />
      <img
        src="../images/pexels-eberhard-grossgasteiger-1612351.jpg"
        class="image-1"
      />
      <img
        src="../images/pexels-giorgio-de-angelis-1413412.jpg"
        class="image-1"
      />
      <img src="../images/pexels-matheus-bertelli-573299.jpg" class="image-1" />
    </div>
    <div class="container-6">
      <img src="../images/pexels-pixabay-163872.jpg" class="image-2" />
      <img src="../images/pexels-pixabay-326055.jpg" class="image-2" />
      <img src="../images/pexels-pixabay-33045.jpg" class="image-2" />
      <img src="../images/pexels-pixabay-36762.jpg" class="image-2" />
    </div>
    <div class="container-7">
      <img src="../images/pexels-pixabay-414144 (1).jpg" class="image-3" />
      <img src="../images/pexels-pixabay-45853.jpg" class="image-3" />
      <img src="../images/pexels-tan-danh-1329711.jpg" class="image-3" />
      <img src="../images/pexels-taryn-elliott-4840134.jpg" class="image-3" />
    </div>
    <div class="container-8">
      <img
        src="../images/pexels-giorgio-de-angelis-1413412.jpg"
        class="image-4"
      />
      <img
        src="../images/pexels-eberhard-grossgasteiger-1302242.jpg"
        class="image-4"
      />
      <img src="../images/pexels-pixabay-163872.jpg" class="image-4" />
      <img src="../images/pexels-pixabay-36762.jpg" class="image-4" />
    </div>
  </body>
</html>
